.wrapper {
  width: auto;
  padding: 0;
  margin: 0 auto;
  display: grid;
  max-width: 550px;
  min-width: 230px;
  line-height: 1.4em;
  color: #4d4d4d;
  font-weight: 300;
}

.title {
  font-size: 100px;
  color: rgba(175, 47, 47, .15);
  font-weight: 100;
  width: 100%;
  text-align: center;
}

.footnotes {
  color: #bfbfbf;
  font-size: 13px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
  margin: 65px auto 0;
}

.footnote {
  display: block;
  text-align: center;
  line-height: 2;
}

.footlink {
  color: inherit;
  text-decoration: none;
  font-weight: 400;
}
